<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>eureka</title>
    
    
    
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:300'>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/eureka.css">
    <link rel="stylesheet" type="text/css" href="css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">

	<script src="assets/js/prefixfree.min.js"></script>

    
  </head>

  <body>

    
        <div class="cm-e-menu">
            <ul>
                <li class="topmenu">
                    <a>inky</a>
                    <ul class="submenu">
                        <li><a href="/">Latest</a></li>
                        <li><a href="/killme">Kill</a></li>
                        <li class="divider"></li>
                        <li><a>Blog</a></li>
                        <li class="divider"></li>
                        <li><a>Glados</a></li>
                    </ul>
                </li>
                <li class="topmenu">
                    <ahref="#">Root</a>
                    <ul class="submenu">
                        <li><a>hide tabs</a></li>
                        <li><a>hide menu</a></li>
                        <li class="divider"></li>
                        <li><a>wordwrap</a></li>
                        <li><a>line numbers</a></li>
                        <li><a>fullscreen</a></li>
                        <li class="divider"></li>
                        <li><a>highlight active line</a></li>
                        <li>
                            <a>sidebar</a>
                            <ul class="submenu">
                                <li><a>hide sidebar</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="topmenu">
                    <a>Forum</a>
                    <ul class="submenu">
                        <li><a>General</a></li>
                        <li><a>Anime</a></li>
                        <li class="divider"></li>
                        <li><a>Advanced</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    
    <div class="contain">
    
    <%= yield%>

	</div>
    
    
  </body>
</html>
