<h1>Server status</h1>
<div class="row">
	<div class="three columns">
		<p><label>RaM</label> <button><%= @ram %></button> </p>
	</div>
	<div class="two columns">
		<label>Uptime</label>
		<button><%= @uptime %></button>
</div>